                <p>This data is provided by the Vermont Association of Broadcasters. To add your school to the list, or for any questions about the listings, <a href="http://www.vab.org/School%20Closing%20Info.htm" alt="Vermont Association of Broadcaster's school closing page">contact the VAB</a></p>
                <hr>
                <p><a href="http://www.fairbanksmuseum.org/forecasts" alt="Eye On the Sky home">Eye on the Sky</a> is a production of the Fairbanks Museum &amp; Planetarium and broadcast by VPR.</p>
