                <p>This data is provided by the Vermont Association of Broadcasters (VAB). To add your school to the list, or for any questions about the listings, <a href="https://vab.org/school-closings/" alt="Vermont Association of Broadcaster's school closing page">contact the VAB</a>.</p>
                <hr>
                <p><a href="http://www.fairbanksmuseum.org/eye-on-the-sky" alt="Eye On the Sky home">Eye on the Sky</a> is a production of the <a href="http://www.fairbanksmuseum.org/" alt="Fairbanks Museum Home">Fairbanks Museum &amp; Planetarium</a> and broadcast by VPR.</p>
